<!-- TODO: Add a reset button -->
<div class="well col-xs-6">
  <h3>Add List</h3>
  <%= form_for :list , url: {action: "create"} do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </p>

    <p>
      <%= f.submit "Add", class: "btn btn-success" %>
      <%= link_to "Back", lists_url, class: "btn btn-danger" %>
    </p>
  <% end %>
</div>

<% if @new_list.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@new_list.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @new_list.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

