<script>
$(document).ready(function(){ 
    $("#add_comment").click(function(){   
      $(".modal-body").load("<%=  new_list_item_comment_path(@item.list,@item) %>");
      $(".modal-title").text("New comment");
      $("#add_comment").attr("data-target","#myModal");
      $("#add_comment").attr("data-toggle","modal");
    });
    setPositions();

});
</script>








<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">....</h4>
      </div>
      <div class="modal-body">
        <a href="localhost:8000/lists/new" data-no-turbolink>No turbolinks here</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<br>

<div class="well">
    <h3><%= @item.list.title %></h3>
    <h1><%= @item.title %></h1>
</div>


<div class="col-md-5 col-md-offset-4">
  <% @item.comments.each do |article| %> 
    <div class="panel panel-default sortable-placeholder"> 
      <div class="panel-body">
        <%= article.text %>
        <br>
        <%= link_to 'Delete Comment', list_item_comment_path(@item.list,@item,article), method: :delete %>
      </div>
    </div>
  <% end %>
</div>

<button id="add_comment" type="button" class="btn btn-primary">
  Add new Comment
</button>


<%= link_to 'Back To the List', list_items_path(@item.list), method: :get %>