<%= form_for :item , url:list_items_path(@list), html: { multipart: true } do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label "Choose an image" %><br>  
    <%= f.file_field :avatar%>
  </p>

  <p>
    <%= f.submit "Add Item" %>
  </p>
<% end %>

<% if @new_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@new_item.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @new_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


