<!DOCTYPE html>
<html>
<head>
  <!-- TODO: Add dynamic title based on the page -->
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar  do %>
  <%= navbar_header brand: 'TODO app', brand_link: 'http://localhost:3000/home' %>
  <%= navbar_collapse do %>
    <%= navbar_group class: 'foo', id: 'menu' do %>
      <%= navbar_item "View lists as user", 'http://localhost:3000/lists' %>
      <%= navbar_item "View lists as admin", 'http://localhost:3000/master' %>
      <%= navbar_item "Export Data", 'http://localhost:3000/master/exportData.csv' %>
       <%= navbar_item "Search", 'http://localhost:3000/master/search' %>
    <% end %>
    <%= navbar_group align: 'right' do %>
      <% if user_signed_in? # check if user is logged in, maybe like "if current_user.present?" %>
      <li class="active">
       <a  rel="nofollow" data-method="delete" href="http://localhost:3000/users/sign_out">User Sign Out</a></li>
      <% else %>
        <%= navbar_item "User Log In", 'http://localhost:3000/users/sign_in' %>
        <%= navbar_item "User Sign Up", 'http://localhost:3000/users/sign_up' %>
      <% end %>
    <% end %>
    <%= navbar_group align: 'right' do %>
      <% if admin_signed_in? # check if user is logged in, maybe like "if current_user.present?" %>
           <li class="active">
       <a  rel="nofollow" data-method="delete" href="http://localhost:3000/admins/sign_out">Admin Sign Out</a></li>
      <% else %>
        <%= navbar_item "Admin Log In", 'http://localhost:3000/admins/sign_in' %>
          <%= navbar_item "Admin Sign Up", 'http://localhost:3000/admins/sign_up' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<!-- -->
<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
